parameters:
    level: 1
    paths:
        - %currentWorkingDirectory%
    excludes_analyse:
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/Spec
        - %currentWorkingDirectory%/lib
        - %currentWorkingDirectory%/classes
        - $currentWorkingDirectory%/Core/Fediverse
    ignoreErrors:
        ## If you are running into Cassandra errors, ensure you are using the minds/php-tests docker container
        -
            message: '#Function elgg_get_site_url not found.#'
            path: %currentWorkingDirectory%
        -
            message: '#Function (elgg_view|elgg_register_event_handler|elgg_is_logged_in|elgg_trigger_event|elgg_trigger_plugin_hook|elgg_view_page|elgg_in_context|elgg_is_admin_logged_in|elgg_echo|get_input|get_resized_image_from_existing_file|system_message|current_page_url|datalist_set|register_user|forward) not found#'
            path: %currentWorkingDirectory%
        -
            message: '#Result of static method Surge\\Messages\\Factory::build\(\) \(void\) is used.#'
            path: %currentWorkingDirectory%

